/* General Styles*/

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

ul {
    padding: 0;
}

nav ul {
    list-style: none;
}

.hidden {
    display: none;
}

#container {
    margin: 0 auto;
}

.subtitle {
    font-size: 32px;
    color: #000;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Header & Mobile Navigation */

header {
    background-color: #14213d;
    justify-content: center;
    align-items: center;
}

#header-logo {
    padding-top: 5px;
    max-width: 155px;
}

#main-nav {
    display: none;
}

#main-nav ul {
    margin-top: 0;
    margin-bottom: 0;
}

#main-nav li {
    display: inline;
    color: #fca311;
    font-weight: bold;
    font-size: 24px;
    transition: all 0.5s ease;
    margin-right: 60px;
}

#main-nav li:last-of-type {
    margin-right: 0;
}

#main-nav a {
    color: #fca311;
    font-weight: bold;
    font-size: 24px;
    transition: all 0.5s ease;
    text-decoration: none;
    border-bottom: solid 2px #14213d;
}

#main-nav a:hover {
    color: #fc8300;
    border-bottom: solid 2px #fc8300;
}

.upper-social-media-icons {
    grid-row: 1/1;
    display: none;
    list-style: none;
}

.upper-social-media-icons li {
    display: inline;
    margin-right: 10px;
}

.upper-social-media-icons img {
    width: 68px;
}

.upper-social-media-icons-hover {
    grid-row: 1/1;
    display: none;
    list-style: none;
}

.upper-social-media-icons:first-of-type {
    z-index: 10;
}

.upper-social-media-icons img:hover {
    opacity: 0%;
}

#hamburger-menu {
    justify-self: end;
    align-self: center;
    width: 50%;
}

#hamburger-menu:hover {
    cursor: pointer;
}

#dropdown-nav {
    justify-content: center;
    background-color: #14213d;
    border-top: solid 2px #fca311;
}

#dropdown-nav li {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: solid 2px #fca311;
    margin-right: 20%;
    margin-left: 20%;
}

#dropdown-nav li:first-of-type {
    border: none;
}

#dropdown-nav a {
    text-decoration: none;
    font-weight: bold;
    color: #fca311;
    text-align: center;
}

/*Hero Section*/

#hero-image {
    grid-row: 1/1;
    justify-self: center;
}

#hero-con {
    grid-row: 1/1;
    grid-column: 2/3;
    margin: 0;
    align-items: end;
}

.learn-more {
    background-color: #14213d;
    text-decoration: none;
    color: #fca311;
    font-size: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 15px;
    border: solid 2px #fca311;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
}   

.learn-more:hover {
    color: #14213d;
    background-color: #fca311;
    border: solid 2px #fca311;
}

/* About Us */

#about-us {
    margin-top: 45px;
}

.body-copy {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

/* Banner */

#banner {
    background-color: #14213d;
    color: #fca311;
    margin-top: 35px;
    padding-top: 30px;
    padding-bottom: 20px;
}

#goal {
    text-align: left;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 32px;
    margin-left: 20px;
}

#goal span {
    font-size: 28px;
}

/* Our Beer */

#our-beer {
    margin-top: 45px;
}

#beer-img {
    margin-bottom: 35px;
    border-radius: 20px;
    border: solid 10px #14213d;
}

#our-beer .learn-more {
    width: 108px;
    border-radius: 15px;
    justify-self: center;
    margin-top: 20px;
}

/* Footer */

footer {
    background-color: #14213d;
    margin-top: 35px;
}

#lower-navigation {
    margin-top: 20px;
}

#lower-navigation li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

#lower-navigation a {
    text-decoration: none;
    color: #fca311;
    text-align: left;
    border-bottom: solid 1px #fca311;
    transition: all 0.3s ease;
}

#lower-navigation a:hover {
    color: #fc8300;
    border-bottom: solid 1px #fc8300;
}

.lower-social-media-icons {
    grid-row: 2/2;
    z-index: 10;
    margin-top: 0px;
}

.lower-social-media-icons img:hover {
    opacity: 0%;
}

.lower-social-media-icons li {
    list-style: none;
    display: inline;
    margin-right: 5px;
}

.lower-social-media-icons img {
    width: 40px;
}

.lower-social-media-icons:last-of-type {
    z-index: 1;
}

#footer-logo {
    margin-top: 10px;
    justify-self: end;
    align-self: end;
  }

/* Large Mobile (for the learn more button text) */
@media screen and (min-width:580px) {
    .learn-more {
        font-size: 14px;
        padding: 15px;
    }

    #our-beer .learn-more {
        width: 150px;
    }
}

/* Tablet Size */
@media screen and (min-width:768px) {
    #main-nav {
        display: block;
    }

    .menu {
        display: none;
    }

    .learn-more {
        font-size: 22px;
    }

    .subtitle {
        font-size: 42px;
    }

    .body-copy {
        font-size: 18px;
        line-height: 32px;
    }

    #banner {
        padding-top: 45px;
        padding-bottom: 30px;
    }

    #goal {
        margin-left: 16px;
        font-size: 56px;
        line-height: 36px;
    }

    #goal span {
        font-size: 36px;
    }

    #our-beer .learn-more {
        width: 225px;
    }

    #lower-navigation li {
        margin-right: 30px;
    }

    #lower-navigation a {
        font-size: 24px;
    }

    .lower-social-media-icons li {
        margin-right: 10px;
    }

    .lower-social-media-icons img {
        width: 60px;
    }

    #footer-logo {
        max-width: 225px;
    }
}

/* Desktop Size */
@media screen and (min-width:1280px) {
    header {
        max-height: 126px;
    }

    #main-nav a {
        font-size: 32px;
    }

    .upper-social-media-icons {
        display: block;
    }

    .learn-more {
        font-size: 32px;
    }

    .subtitle {
        font-size: 48px;
    }

    .body-copy {
        line-height: 38px;
    }

    #banner {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    #goal {
        margin-left: 25px;
        font-size: 72px;
        line-height: 52px;
    }

    #goal span {
        font-size: 52px;
    }

    #our-beer .learn-more {
        width: 300px;
    }

    #lower-navigation a {
        font-size: 32px;
        margin-right: 20px;
    }

    .lower-social-media-icons {
        display: none;
    }
}