/* General Styles*/

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

ul {
    padding: 0;
}

nav ul {
    list-style: none;
}

.hidden {
    display: none;
}

#container {
    margin: 0 auto;
}

.subtitle {
    font-size: 32px;
    color: #000;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Header & Mobile Navigation */

header {
    background-color: #14213d;
    justify-content: center;
    align-items: center;
}

#header-logo {
    padding-top: 5px;
    max-width: 155px;
}

#main-nav {
    display: none;
}

#main-nav ul {
    margin-top: 0;
    margin-bottom: 0;
}

#main-nav li {
    display: inline;
    color: #fca311;
    font-weight: bold;
    font-size: 24px;
    transition: all 0.5s ease;
    margin-right: 60px;
}

#main-nav li:last-of-type {
    margin-right: 0;
}

#main-nav a {
    color: #fca311;
    font-weight: bold;
    font-size: 24px;
    transition: all 0.5s ease;
    text-decoration: none;
    border-bottom: solid 2px #14213d;
}

#main-nav a:hover {
    color: #fc8300;
    border-bottom: solid 2px #fc8300;
}

.upper-social-media-icons {
    grid-row: 1/1;
    display: none;
    list-style: none;
}

.upper-social-media-icons li {
    display: inline;
    margin-right: 10px;
}

.upper-social-media-icons img {
    width: 68px;
}

.upper-social-media-icons-hover {
    grid-row: 1/1;
    display: none;
    list-style: none;
}

.upper-social-media-icons:first-of-type {
    z-index: 10;
}

.upper-social-media-icons img:hover {
    opacity: 0%;
}

#hamburger-menu {
    justify-self: end;
    align-self: center;
    width: 50%;
}

#hamburger-menu:hover {
    cursor: pointer;
}

#dropdown-nav {
    justify-content: center;
    background-color: #14213d;
    border-top: solid 2px #fca311;
}

#dropdown-nav li {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: solid 2px #fca311;
    margin-right: 20%;
    margin-left: 20%;
}

#dropdown-nav li:first-of-type {
    border: none;
}

#dropdown-nav a {
    text-decoration: none;
    font-weight: bold;
    color: #fca311;
    text-align: center;
}

/*Hero Section*/

#hero-image {
    grid-row: 1/1;
    justify-self: center;
}

#hero-con {
    grid-row: 1/1;
    grid-column: 2/3;
    margin: 0;
    align-items: end;
}

.learn-more {
    background-color: #14213d;
    text-decoration: none;
    color: #fca311;
    font-size: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 15px;
    border: solid 2px #fca311;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s ease;
}   

.learn-more:hover {
    color: #14213d;
    background-color: #fca311;
    border: solid 2px #fca311;
}

/* About Us */

#about-us {
    margin-top: 45px;
}

.body-copy {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
}

/* Banner */

#banner {
    background-color: #14213d;
    color: #fca311;
    margin-top: 35px;
    padding-top: 30px;
    padding-bottom: 20px;
}

#goal {
    text-align: left;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 48px;
    line-height: 32px;
    margin-left: 20px;
}

#goal span {
    font-size: 28px;
}

/* Our Beer */

#our-beer {
    margin-top: 45px;
}

#beer-img {
    margin-bottom: 35px;
    border-radius: 20px;
    border: solid 10px #14213d;
}

#our-beer .learn-more {
    width: 108px;
    border-radius: 15px;
    justify-self: center;
    margin-top: 20px;
}

/* Product page */





/* Footer */

footer {
    background-color: #14213d;
    margin-top: 35px;
}

#lower-navigation {
    margin-top: 20px;
}

#lower-navigation li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

#lower-navigation a {
    text-decoration: none;
    color: #fca311;
    text-align: left;
    border-bottom: solid 1px #fca311;
    transition: all 0.3s ease;
}



#lower-navigation a:hover {
    color: #fc8300;
    border-bottom: solid 1px #fc8300;
}

.lower-social-media-icons {
    grid-row: 2/2;
    z-index: 10;
    margin-top: 0px;
}

.lower-social-media-icons img:hover {
    opacity: 0%;
}

.lower-social-media-icons li {
    list-style: none;
    display: inline;
    margin-right: 5px;
}

.lower-social-media-icons img {
    width: 40px;
}

.lower-social-media-icons:last-of-type {
    z-index: 1;
}

#footer-logo {
    margin-top: 10px;
    justify-self: end;
    align-self: end;
  }

  /* Contact */

#contact-info {
    margin-top: 40px;
    margin-bottom: 70px;
  }

form {
    width: 350px;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    background-color: #14213d;
    border-radius: 10px;
    border: solid 8px #fca311;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 0 0 38px #14213d;
    margin-bottom: 50px;
}

input {
    margin-bottom: 20px;
    width: 250px;
    height: 50px;
    padding-left: 10px;
    border-radius: 10px;
}

#message {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    width: 250px;
    padding: 10px;
    height: 375px;
    border-radius: 10px;
}

#submit {
    background-color: #fff;
    margin-top: 20px;
    color: #fca311;
    text-decoration: none;
    background-color: #14213d;
    border: solid 2px #fca311;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    font-size: 20px;
    transition: all 0.5s ease;
}

#submit:hover {
    cursor: pointer;
    background-color: #fca311;
    border: solid 2px #14213d;
    color: #14213d;
}

/* Large Mobile (for the learn more button text) */
@media screen and (min-width:580px) {
    .learn-more {
        font-size: 14px;
        padding: 15px;
    }

    #our-beer .learn-more {
        width: 150px;
    }
}

/* Tablet Size */
@media screen and (min-width:768px) {
    #main-nav {
        display: block;
    }

    .menu {
        display: none;
    }

    .learn-more {
        font-size: 22px;
    }

    .subtitle {
        font-size: 42px;
    }

    .body-copy {
        font-size: 18px;
        line-height: 32px;
    }

    #banner {
        padding-top: 45px;
        padding-bottom: 30px;
    }

    #goal {
        margin-left: 16px;
        font-size: 56px;
        line-height: 36px;
    }

    #goal span {
        font-size: 36px;
    }

    #our-beer .learn-more {
        width: 225px;
    }

    #lower-navigation li {
        margin-right: 30px;
    }

    #lower-navigation a {
        font-size: 24px;
    }

    .lower-social-media-icons li {
        margin-right: 10px;
    }

    .lower-social-media-icons img {
        width: 60px;
    }

    #footer-logo {
        max-width: 225px;
    }

    form {
        width: 714px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }

    input {
        width: 290px;
        display: block;
        margin-right: 10px;
    }

    #name {
        margin-right: 320px;
    }

    #telephone {
        margin-left: 10px;
    }

    #message {
        width: 600px;
        height: 175px;
    }

    #submit {
        align-self: flex-end;
        margin-left: auto;
        margin-right: 10px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

/* Desktop Size */
@media screen and (min-width:1280px) {
    header {
        max-height: 126px;
    }

    #main-nav a {
        font-size: 32px;
    }

    .upper-social-media-icons {
        display: block;
    }

    .learn-more {
        font-size: 32px;
    }

    .subtitle {
        font-size: 48px;
    }

    .body-copy {
        line-height: 38px;
    }

    #banner {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    #goal {
        margin-left: 25px;
        font-size: 72px;
        line-height: 52px;
    }

    #goal span {
        font-size: 52px;
    }

    #our-beer .learn-more {
        width: 300px;
    }

    #lower-navigation a {
        font-size: 32px;
        margin-right: 20px;
    }

    .lower-social-media-icons {
        display: none;
    }

    form {
        width: 1210px;
    }

    input {
        width: 472px;
        font-size: 18px;
        height: 60px;
    }

    #name {
        margin-right: 542px;
    }

    #telephone {
        margin-left: 50px;
    }

    #message {
        font-size: 18px;
        width: 1010px;
        height: 250px;
    }

    #submit {
        width: 220px;
        text-align: center;
        font-size: 24px;
        margin-right: 50px;
    }
}

* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .grid-con-row:after{
    content: "";
    display: table;
    clear: both;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 12px;
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%
  }

  body {
    font-family: sans-serif;
  }
  
  .toggle-btn {
    position: relative;
    display: block;
    /* background: #3890b3; */
    color: #000;
    width: 300px;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  
  .arrow {
    position: absolute;
    border: solid black;
    border-width: 0 3px 3px 0;
  display: inline-block;
    top: 20px;
    right: 20px;
    color: #000;
  }
  
  .arrow::before,
  .arrow::after {
    position: relative;
    content: '';
    display: block;
    width: 10px;
    height: 1px;
    /* background: white; */
    color: #000;
    transition: 0.3s ease-in-out;
  }
  
  .arrow::before {
    transform: rotate(45deg);
  }
  
  .arrow::after {
    left: 6px;
    top: -1px;
    transform: rotate(-45deg);
  }
  
  
  /* .toggle-btn {
    background: #13749a;
  } */
  
  .toggle-btn.active .arrow::before {
    transform: rotate(-45deg);
  }
  
  .toggle-btn.active .arrow::after {
    transform: rotate(45deg);
  }